html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100%;
}

body{
  background-color: #f9f5f5;
}

* {
  box-sizing: border-box;
}

#page-content {
  flex: 1 0 auto;
}

.wrapper {
  height: 100vh;
}